.map__thumb{
  width: 16.11em;
  height: 16.11em;
  display: inline-block;
  background-size: cover;
  margin-bottom: 2rem;
  margin-right: 9.72em;
  z-index: 10;
  border: 1px white solid;
  box-sizing: border-box;
  background-position: center;
}

figure:nth-of-type(1){
  margin-left: 9.72em;
}