.Cursor {
  z-index: 300;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.cursor__dot{
  filter: invert(100%) sepia(0%) saturate(10%) hue-rotate(189deg) brightness(109%) contrast(100%);
}